.calculator__data {
    width: 434px;
    padding: 28px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.06);
    border-radius: 40px;
    font-family: 'Montserrat', sans-serif;

    .calculator__data-title {
        margin: 22px 0;
    }

    .calculator__data-input {
        width: 94%;
        padding: 12px;
        margin: 8px 0;
        background: #FFFFFF;
        box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 0, 0.4);
        font-weight: 300;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        line-height: 100%;
        border-radius: 15px;
        border: none;
    }

    .calculator__data-button {
        display: flex;
        width: 100%;
        padding: 10px 12px;
        margin: 22px 0;
        justify-content: center;
        font-size: 20px;
        line-height: 100%;
        color: #FFFFFF;
        background: rgba(0, 0, 0, 0.9);
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        border: none;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            opacity: 0.9;
        }
    }

    .calculator__data-text {
        font-weight: 300;
        font-size: 13px;
        line-height: 100%;
    }

    .calculator__data-agreement {
        text-decoration: none;
        color: #2696D6;
        margin: 0 4px;
    }

    .calculator__data-textarea {
        width: 94%;
        padding: 12px;
        margin-top: 42px;
        margin-bottom: 22px;
        background: #FFFFFF;
        box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 0, 0.4);
        font-weight: 300;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        line-height: 100%;
        border-radius: 15px;
        border: none;
        resize: none;
    }

    .calculator__data-total {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #000;
        padding: 22px 0 26px 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
    }

    .calculator__data-pay-items {
        display: flex;
        padding: 18px 0 0 0;
    }

    .calculator__data-pay-item {
        padding: 3px 12px;
        width: 30px;
        margin-right: 14px;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
}

@media(max-width: 1462px) {
    .calculator__data {
        width: 342px;
    }
}

@media(max-width: 1190px) {
    .calculator__data {
        margin: 22px 0;
        width: 700px;
    }
}