.balance {
    padding: 124px 0;
}

.balance__title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 35px;
    line-height: 100%;
}

.balance__input {
    display: flex;
    margin: 32px auto;
    width: 180px;
    padding: 6px 38px;
    border: none;
    box-sizing: border-box;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    background: #FFFFFF;
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.4);
}

.balance__button {
    display: flex;
    margin: 32px auto;
    padding: 6px 18px;
    width: 180px;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    line-height: 100%;
    background: #000000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;

    &:hover {
        opacity: 0.9;
    }
}

@media (max-width: 600px) {
    .balance__title {
        display: none;
    }
}