.balance {
    padding: 124px 0;
}

.balance__title {
    margin-bottom: 82px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 35px;
    line-height: 100%;
}

.balance__input {
    display: flex;
    margin: 42px auto;
    width: 262px;
    padding: 6px 48px;
    border: none;
    box-sizing: border-box;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    background: #FFFFFF;
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.4);
}

.balance__item {
    display: flex;
    width: 262px;
    padding: 22px 12px;
    justify-content: center;
    align-items: center;
    margin: 42px auto;
    box-sizing: border-box;
    border: 0.5px solid #80ACF2;
    border-radius: 10px;
}

.balance__item-img {
    width: 90px;
    display: flex;
    justify-content: center;
    padding: 12px;
    height: 55px;
    margin: 0 6px;
    background: #FFFFFF;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15.8753px;
    box-sizing: border-box;

    img {
        width: 50px;
    }
}

.balance__button {
    display: flex;
    margin: 42px auto;
    padding: 6px 18px;
    width: 262px;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 25px;
    line-height: 100%;
    background: #000000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;

    &:hover {
        opacity: 0.9;
    }
}

@media (max-width: 600px) {
    .balance__title {
        display: none;
    }
}