.tabs__items {
    display: flex;
    padding: 0;
    margin: 72px 0 0 112px;
    list-style: none;

    .tab__item {
        padding: 12px 26px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 100%;
    }

    .tab__item-active {
        background: #F2F4F7;
        font-weight: 500;
    }
}

.tab__content {
    padding-top: 42px;
    background: #F2F4F7;
}

.content {
    display: none;
}


.tab__content-active {
    display: block;
    width: 94%;
    box-shadow: 1px 1px 4px #00000047;
    margin-left: auto;
    border-top-left-radius: 20px;
    padding: 32px;
    box-sizing: border-box;
    background: #ffffff;
}