.css-j88s13-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
    display: none !important;
}

.css-hlj6pa-MuiDialogActions-root {
    display: none !important;
}

.css-j7qwjs {
    background: #F6F7F9;
}

.css-epd502 {
    margin: 0 !important;
}

.css-169iwlq-MuiCalendarPicker-root {
    border: 2px solid #2696D6;
    border-radius: 40px;
    width: 309px !important;
}