.services-active {
    width: 600px;
}

.services__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #B6BEC8;
}

.services-active__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;

    .services-active__item {
        width: 166px;
        height: 180px;
        padding: 12px;
        margin-bottom: 12px;
        box-sizing: border-box;
        box-shadow: 1px 1px 5px rgba(144, 179, 236, 0.211);
        border-radius: 10px;
        border: 1px solid #4C75F2;
        transition: 0.3s ease-in-out;

        &:hover {
            transform: scale(1.01);
            box-shadow: 1px 1px 5px rgba(144, 179, 236, 0.29);
        }

        .services__item-title {
            margin-top: 16px;
            margin-bottom: 12px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #14161D;
        }

        .services__item-price {
            margin-bottom: 18px !important;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #14161D;
            margin-bottom: 8px;
        }

        .services__item-info {
            text-transform: uppercase;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;

            a {
                text-decoration: none;
                color: #C2C2C2;
            }
        }
    }
}

@media(max-width: 1700px) {
    .services-active {
        width: 560px;
    }
}

@media(max-width: 1460px) {
    .services-active {
        width: 444px;
        margin: 0 auto;
    }

    .services-active__items {
        .services-active__item {
            width: 144px;
        }
    }
}

@media(max-width: 1220px) {
    .services-active {
        width: 100%;
    }

    .services-active__items {
        .services-active__item {
            width: 194px;
        }
    }
}

@media(max-width: 960px) {
    .services-active__items {
        flex-wrap: wrap;

        .services-active__item {
            width: 224px;
            margin: 22px 0;
        }
    }
}