.nav__main {
    width: 1430px;
    margin: 0 auto;
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.nav__info-container {
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__icon-client {
    margin-right: 6px;
}

.nav__container {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        display: flex;
    }
}

.nav__cabinet {
    width: 164px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;

    &:hover {
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.236);
    }

    .nav__cabinet-modal {
        width: 174px;
        position: absolute;
        top: 51px;
        left: -4px;
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .nav__cabinet-modal-link {
        display: flex;
        padding: 12px 0px 12px 22px;
        color: #000000;
        font-weight: 300;
        font-size: 15px;
        line-height: 100%;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
            background: #F2F4F6;
        }
    }

    .nav__cabinet-title {
        display: flex;
        align-items: center;
        text-align: center;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
        color: #272727;
    }
}

.timetable {
    display: flex;
    width: 612px;
    margin: 54px auto;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    text-decoration: none;
    color: #000000;
    box-sizing: border-box;
    transition: 0.3s;

    &:hover {
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.236);
    }

    .timetable__title {
        margin-left: 12px;
        margin-right: 23px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
    }

    .timetable__text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 100%;
    }
}

@media(max-width: 1500px) {
    .nav__main {
        width: 1300px;
    }
}

@media(max-width: 1380px) {
    .nav__main {
        width: 95%;
    }
}

@media(max-width: 1133px) {
    .nav__container {
        width: 220px;
    }

    .nav__info-container {
        width: 420px;
    }
}

@media(max-width: 690px) {
    .nav__cabinet {
        display: none;
    }

    .nav__info-name {
        display: none;
    }

    .nav__container {
        width: 80%;
    }

    .nav__info-container {
        width: auto;
    }

    .timetable {
        width: 70%;

        img {
            width: 30px;
        }

        .timetable__title {
            margin-left: 8px;
            margin-right: 5px;
            font-size: 15px;
        }

        .timetable__text {
            font-size: 12px;
        }
    }
}

@media(max-width: 590px) {
    .timetable {
        width: 80%;
    }
}

@media(max-width: 490px) {
    .timetable {
        width: 90%;
    }
}

@media(max-width: 420px) {
    .timetable {
        width: 98%;
    }
}